.repair {
    width: 98%;
    margin: 0 auto;
}

.repair h2{
    padding: 15px 0px;
    border-bottom: 1px solid green;
    color: green;
}

.repair h3{    
    width: 15%;
    border-bottom: 1px solid green;
    color: green;
}

@media (max-width:480px) {
    .repair h3{    
        width: 75%;
        border-bottom: 1px solid green;
        color: green;
    }
}