.about_us{
    width : 98%;
    margin: 0 auto;
}

.about_us h2 {
    border-bottom: 1px solid green;
    color: green;
    padding: 15px 0px;

}

.technology{
    width : 98%;
    margin: 0 auto;
}

.technology h2 {
    border-bottom: 1px solid green;
    color: green;
    padding: 15px 0px;
    margin-top: 2%;

}