.app_footer_grid {
    display : grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 50px;
    margin-top:2%;
    background-color: green;
    color:white;
    border-radius: 10px;
}

.footer_grid_item{
    padding: 25px;
    width: 340px;
}

.footer_grid_item > p:first-child {
    font-size: 26px;
    padding: 10px;
    border-bottom: 1px solid white;
    padding-left: 0px;
    
}

.footer_grid_item > ul {
    list-style: none;
    padding-left:0px;
    
}

.footer_copyright {
    text-align:center;
    color:white;
    background-color: green;
    margin-top: 0px !important;
    padding: 20px;
    border-top: 1px solid white;
    border-radius: 10px;
}

.footer_copyright p {
    margin: 0 auto;
}

@media (max-width:480px) {
    .app_footer_grid {
        display : grid;
        grid-template-columns: auto;
        /* grid-row-gap: 15px; */
        margin-top:15px;
        background-color: green;
        color:white;
        border-radius: 10px;
    }

    
    .footer_grid_item{
        padding: 10px;
        width: 340px;
        height: 310px
    }

    .footer_copyright {
        text-align:center;
        color:white;
        background-color: green;
        margin-top: 0px !important;
        padding: 10px;
        border-top: 1px solid white;
        border-radius: 10px;
        width: 100%;
        margin-bottom: 5px;
    }

    .footer_copyright p {
        margin: 0 auto;
    }


}